# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

variables:
- group: Front-End
- group: RPi4

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.16.0'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'

- script: |
    npm run build
  env:
    REACT_APP_API_URL: $(REACT_APP_API_URL)
    REACT_APP_AUTH_COOKIE: $(REACT_APP_AUTH_COOKIE)
  displayName: 'npm run build'

- task: DownloadSecureFile@1
  name: downloadKey
  displayName: 'Download SSH Key'
  inputs:
    secureFile: 'id_rsa'

- bash: |
    echo "Setting up SSH key..."
    mkdir -p $(System.DefaultWorkingDirectory)/.ssh
    mv $(downloadKey.secureFilePath) $(System.DefaultWorkingDirectory)/.ssh/id_rsa
    chmod 600 $(System.DefaultWorkingDirectory)/.ssh/id_rsa
    echo "Adding host to known hosts..."
    ssh-keyscan -6 -H $(RPI_HOST) >> $(System.DefaultWorkingDirectory)/.ssh/known_hosts
    echo "SSH Setup complete."
  displayName: 'Setup SSH Key'

- bash: |
    echo "Copying build folder to remote machine..."
    scp -i $(System.DefaultWorkingDirectory)/build -r $(Build.SourcesDirectory)/build $(RPI_USERNAME)@[$(RPI_HOST)]:$(RPI_BUILD_DIR)
  displayName: 'Copy Build Folder'
